/* основной цвет заголовков #212121 */
/* основнной цвет текста #757575 */
/* цвет акцента #2196F3 */
/* Ховер кнопки #188CE8 */
/* цвет лого в шапке #000000
   доп. цвет #FFFFFF */
   /* цвет фона герой и футер #2F303A */
   /* бэкграунд секции Наша команда #F5F4FA */
   /* Цвет контактов в футере rgba(255, 255, 255, 0.6); */

:root {
    --h-text-color:#212121;
    --p-text-color:#757575;
    --accent-color:#2196F3;
    --buttom-hover-color: #188CE8;
    --white-text-color:#FFFFFF;
    --black-text-color:#000000;
    --background-color:#2F303A;
    --background:#E5E5E5;
    --team-background-color: #F5F4FA;
    --nav-cont-footer-text-color: rgba(255, 255, 255, 0.6);
}

/* BODY */
body {
    width: 1600px;
    background: var(--background);
    margin: 0 auto;
}

.list {
list-style: none;
font-style: normal;
color: var(--p-text-color);

}


.titlehto {
font-weight: 700;
font-size: 36px;
line-height: 42px;
/* text-align: center; */
letter-spacing: 0.03em;
color: var(--h-text-color);
}

.nosee {
position: absolute; 
width: 1px; 
height: 1px; 
margin: -1px; 
border: 0; 
padding: 0; 
white-space: nowrap; 
clip-path: inset(100%); 
clip: rect(0 0 0 0); 
overflow: hidden;
}

.titilehtriecom {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--h-text-color);
}

.titilehtrie {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

letter-spacing: 0.03em;
color: var(--h-text-color);
}

.lictp {
font-style: normal;
font-weight: 400;
font-size: 16px;
/* line-height: 19px; */
text-align: center;
letter-spacing: 0.03em;
color: var(--p-text-color);
}


/* HEADER */

.hdr {
    background-color: var(--white-text-color);
}

.logo {
color: var(--black-text-color);
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
text-decoration: none;
}

.logo-web {
    color: var(--accent-color);
}

.nav-menu .nav-link {
    color:var(--h-text-color);
    text-decoration: none;

}

.nav-menu .nav-link.act {
    color: var(--accent-color);
}

.nav-cont {
    color: #757575;
    text-decoration: none;
}

.nav-cont:hover,
.nav-cont:focus {
    color: var(--accent-color);
}

/* HERO */

.hero {
    background: var(--background-color);
}

.hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--white-text-color);
  }

  /* BUTTOM */

  .button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: var(--white-text-color);
    background: var(--accent-color);
    width: 200px;
    height: 50px;
  }

  .button:hover,
  .button:focus {
    background: var(--buttom-hover-color);
    
  }

/* Особенности компании */

.company {
    background-color: var(--white-text-color);
}

/* Чемы мы занимаемся */

.doit {
    background-color: var(--white-text-color);
}

  /* Наша команда */

 .team {
    background-color: var(--team-background-color);
 } 

 .cart-team {
background-color: var(--white-text-color);
 }

h3.name-com {
line-height: 0;
text-align: center;
}

  /* FOOTER */

  .backcol {
    background-color: var(--background-color);
  }

  .address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--white-text-color);
  }

  .footcolor {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--nav-cont-footer-text-color);
    text-decoration: none;
  }